
@{
    ViewBag.Title = "About";
}

<h2>Something About Me</h2>

<h6>About Me......</h6>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <h2><b> BIO </b></h2>
            <p>I am Ammaarah Omar. I believe I am a person who dreams big has  big ambitions in life. I am a strong believer in God, I have very strong morals and values and I am 20 years old</p>
        </div>
        <div class="col-lg-3">
            <h2>Ammaarah</h2>
            <!--Linked image of me in Content folder -->
            <img src="~/Content/Myself/Ammaarah.jpeg" height="200" width="150" />
        </div>
    </div>
</div>

